.container {
    position: relative;
    padding: 10px;
}

.infoBar {
    border-bottom: 1px dashed black;
    margin-bottom: 5px;
}

.passContainer {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
}

.passContainer>*:nth-child(1) {
    flex: 1;
}

@media (min-width: 440px) {
    .passContainer {
        flex-direction: row;
        align-items: flex-end;
    }


    .btnContainer {
        justify-content: flex-start;
    }
}