.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 5px;
}

.input {
    font-size: inherit;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    margin-right: 15px;
    transform: scale(2);
}

.error {
    background-color: #d47f87;
    color: #3b090e;
    text-align: center;
    padding: 8px 0;
    font-size: 0.95em;
    margin: 5px 0;
    border-radius: 8px;
}


.slider {
    -webkit-appearance: none;
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(191, 202, 202);
    border: 1px solid black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 10px;
    border-radius: 8px;
    background-color: #ffffff;
}