.label {
    margin-bottom: 5px;
}

.input {
    font-size: inherit;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    margin-right: 7px;
}

.error {
    background-color: #d47f87;
    color: #3b090e;
    text-align: center;
    padding: 8px 0;
    font-size: 0.95em;
    margin: 5px 0;
    border-radius: 8px;
}