.container {
    background-color: rgba(10, 177, 219, 0.637);
    font-size: 1.2rem;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom: 1px solid black;
}


.nameContainer,
.btnContainer {
    display: flex;
}

.nameContainer {
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.btnContainer {
    align-items: stretch;
}

.btnContainer>:nth-child(1){
    margin-right: 15px;
}


.starIcon {
    margin-left: 5px;
    color: #ffc107;
    stroke: rgb(0, 0, 0);
    stroke-width: 12;
}

@media (min-width: 425px) {
    .container {
        font-size: 1.3rem;
        padding: 25px;
    }
}

@media (min-width: 475px) {
    .container {
        font-size: 1.5rem;
    }
}

@media (min-width: 555px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .nameContainer {
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }
}