.container {
    background-image: var(--gradient);
    height: 100vh;
    padding: 10px;
}


.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

.content>:nth-child(2) {
    flex: 1;
}