.container {
    height: 100vh;
    padding: 10px;
    background-image: var(--gradient);
}


.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.content>:nth-child(2) {
    flex: 1;
}