.container {
    min-height: 100vh;
    padding: 10px;
    background-image: var(--gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container>:nth-child(2) {
    background-color: rgb(255, 255, 255);
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid black;
}