.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
}

.header {
    margin: 10px;
    font-weight: normal;
    font-size: 1.05em;
}


@media (min-width: 820px) {
    .grid {
        grid-template-columns: repeat(2, 1fr)
    }
}