.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient);
}


.content {
    border: 1px solid black;
    background-color: white;
    width: min(90%, 600px);
    padding: 10px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: .1em .1em 0 rgba(0, 0, 0, 0.198);
    z-index: 1;
}

@media (min-width: 440px) {
    .title {
        font-size: 3rem;
    }
}