.btnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.btnContainer>* {
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}