.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 650px;
    margin: 0 auto;

}

.chart {
    width: 150px;
}

.legend {
    list-style: none;
}

.legend>p {
    margin-bottom: 5px;
}

.legend>li:nth-of-type(1) {
    color: rgb(223, 24, 24);
}

.legend>li:nth-of-type(2) {
    color: rgb(238, 156, 24);
}

.legend>li:nth-of-type(3) {
    color: rgb(56, 168, 56);
}

.legend>li:nth-of-type(4) {
    color: rgb(13, 109, 0);
}

@media (min-width: 400px) {
    .container {
        flex-direction: row;
    }
}

@media (min-width: 450px) {
    .chart {
        width: 200px;
    }
}